<!DOCTYPE html>
<html>
<head>
  <title>DecoderRing</title>

<%= stylesheet_link_tag    "application" %>
<%= javascript_include_tag "application" %>

  <%= csrf_meta_tag %>
</head>
<body>

	
 <%if current_user %>

	<%= link_to(image_tag(avatar_user_path(current_user)), user_path(current_user)) %>
	Welcome: <%=current_user.email%>


   <%=link_to "Friends",  friendships_path %>

   <%=link_to "Sign Out",  destroy_user_session_path %>
 <%else%>
   <%=link_to "Sign In",  new_user_session_path %>
 <%end%>


<%= yield %>

</body>
</html>
